.App {
  text-align: center;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  min-width: 130px;
  border-bottom: 1px solid rgb(170, 170, 170);
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.switch-wrapper {
  position: relative;
  background-color: #282c34;
  min-height:100vh;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
}

.switch-wrapper > div {
  position: absolute;

}
.App-header {
  background-color: #282c34;
  min-height:100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
}
button{
  transition: 0.3s ease-in;
  background: rgb(204, 204, 204);
  color: #282c34;
  overflow: hidden;
  min-width: 60px;
}
button:hover{
  background: #282c34;
  color: rgb(204, 204, 204);
  cursor: pointer;
}

 /* The side navigation menu */
 .sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #1f2125; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a, .sidenav Link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

.container {
  position:absolute;
  left: 20px;
  top: 15px;
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
.container:hover .bar1{
  border-radius: 5px;
}
.container:hover .bar2{
  border-radius: 5px;
}
.container:hover .bar3{
  border-radius: 5px;
}
/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}